numpy
pyarrow
pandas
jupyter
tensorflow-gpu
tensorflow-graphics-gpu
tensorboard
deepdiff
python-dotenv
sklearn
joblib
loguru
argparse
pytest
pytest-cov
pytest-spec
matplotlib
scipy
pydantic
python-dotenv
mlflow